.pricing{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: poppins;
    margin-bottom: 50px;
    .heading{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0 20px;
        h2{
            font-size: 25px;
            font-weight: bold;
            text-transform: capitalize;
            padding-bottom: 5px;
        }
        p{
            font-size: 10px;
            opacity: 0.8;
        }
    }
    .slider-mobile{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .swiper {
            width:75%;
            .swiper-slide {
                width: 350px;
                border-radius: 18px;
                font-size: 22px;
                font-weight: bold;
                color: #fff;
                border-radius: 15px;
                .content{
                    width: fit-content;
                    min-height:400px;
                    background-color: var(--bg-gray);
                    border-radius: 15px;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding:20px;
                    .price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 5px;
                        h2{
                            font-size: 20px;
                            font-weight: bolder;

                        }
                        span{
                            font-size: 10px;
                            color: blue;
                        }
                    }
                    h5{
                        font-size: 12px;
                        font-weight: bold;
                    }
                    p{
                        font-size: 8px;
                        opacity: 0.5;
                    }
                    ul{
                        padding: 8px;
                        font-size: 10px;
                        opacity: 0.6;
                    
                    }
                    a{
                        background-color: black;
                        border-radius: 50px;
                        color: white;
                        padding: 5px 0;
                        text-align: center;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: bold;
                        width: 80%;
                        margin: 15px auto 0;
                    }

                }
                .content2{
                    width: fit-content;
                    min-height:400px;
                    background-color: var(--bg-tintblue);
                    border-radius: 15px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding:20px;
                    .price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 5px;
                        h2{
                            font-size: 20px;
                            font-weight: bolder;

                        }
                        span{
                            font-size: 10px;
                            color: var(--primaryyellow);
                        }
                    }
                    h5{
                        font-size: 12px;
                        font-weight: bold;
                    }
                    p{
                        font-size: 8px;
                        opacity: 0.5;
                    }
                    ul{
                        padding: 8px;
                        font-size: 10px;
                        opacity: 0.6;
                    
                    }
                    a{
                        background-color: var(--primaryyellow);
                        border-radius: 50px;
                        color: black;
                        padding: 5px 0;
                        text-align: center;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: bold;
                        width: 80%;
                        margin: 15px auto 0;
                    }

                }
            }
           
          }
    }
    .slider-desktop{
        display: none;
    }
}