.missions{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
    font-family: poppins;
    background-color: var(--bg-lightblue);
    padding: 60px 50px;
    .mission, .vision{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .content{
            width: 40%;
            margin: 0 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            row-gap: 10px;
            .title{
                font-size: 12px;
                font-weight: 600;
                text-transform: capitalize;
            }
            h2{
                text-transform: capitalize;
            }
            .text{
                font-size: 10px;
                opacity: 0.6;
            } 
        }
        .pic{
            width:40%;
            margin: 0 auto;
            display: flex;
            justify-content:end;
            img{
                width: 100%;
            }
        }
        .pic2{
            width: 40%;
            margin: 0 auto;
            display: flex;
            justify-content: start;
            img{
                width: 100%;
            }
        }
    }
}